@model Piezas2.Models.RecambiosDatosModel
@{
  ViewData["Title"] = "Modificación, Adición y Borrado de coches";
}

<div class="main-frame">
  <div class="columns-for-edit">
    <div id="show-lst-panel"> <img src="~/images/btn-tabla.png" title="Muestra/Oculta lista para selección de recambio a editar." /> </div>

    <div id="panelList">
      <div id="headerList">
        <span id="lb-sel-list">Seleccione un recambio:</span>
        <div class="btn-group filters-btn" style="width:100%;">
          <button type="button" class="btn" style="background-color:transparent"></button>
          <button type="button" class="btn dropdown-toggle show-popup" data-toggle="" aria-expanded="false" style="background-color:transparent; float:right;">
             Filtrar: <span class="caret"></span>
          </button>
          <div class="dropdown-menu filters-popup" role="menu" style="left:unset; right:-10px; width: 300px; ">
            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>

            <div class="flex-grid">
              <div class="form-group item" id="FindForName">
                <input type="text" id="FindTxtCoche" name="FindTxtCoche" placeholder="Texto que se desea buscar"/>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div id="list-rec" >
        <div id="ErrorMsgCoches" ></div>
        <div class="table-responsive">
          <table class="table table-bordered table-striped" id="ItemsList">
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>


    <div id="panelDatos">
      <div id="headerDatos">
        <a id="lnkHome" href="/admin"               ><label>Home       </label></a>
        <a id="lnkNew"  href="javascript:newCoche()"><label>Nuevo Coche</label></a>
      </div>

      <div id="edit-rec" >
        <form id="edit-datos" name="datos" class="hidden" enctype="multipart/form-data" method="post" >
          <div id="foto-datos" >
            <div id="foto" >
              <label>Foto:</label>
              <div id="foto-frame120">
                <img id="ImgFoto" onload="CenterImg(event)"/>
              </div>
              <input id="FileFoto" name="FileFoto" type="file" accept="image/*"/>
              <label id="lbFileFoto" for="FileFoto">Seleccione <br/> un fichero</label>
            </div>
            <div id="datos">
              <div class="label-val">
                <label for="Marca" >Marca:&nbsp;</label>
                <select id="Marca" name="Marca" placeholder="Seleccione una marca">
                </select>
              </div>
              <div class="label-val">
                <label for="Modelo">Modelo:&nbsp;</label>
                <select id="Modelo" name="Modelo" placeholder="Seleccione el modelo">
                </select>
              </div>
              <div class="label-val">
                <label for="Caja">Caja:&nbsp;</label><input type="text" id="Caja" name="Caja" size="5" placeholder="Escriba la caja de velc."/>
              </div>
              <div class="label-val">
                <label for="Carroceria">Carroceria:&nbsp;</label><input type="text" id="Carroceria" name="Carroceria" size="5" placeholder="Escriba la Carroceria" />
              </div>
              <div class="label-val">
                <label for="Motor">Motor:&nbsp;</label>
                <select id="Motor" name="Motor" placeholder="Seleccione el motor">
                </select>
              </div>
            <p id="MotorInfo"></p>
            </div>
          </div>

          <div style="width:100%">
            <br />
            <label for="Descripcion">Descripcion: </label><textarea id="Descripcion" name="Descripcion"></textarea>
          </div>

          <div id="UpdateErrorMsg" ></div>

          <div class="btn-group center-content">
            <button id="btnDel"  type="button" class="btn btn-danger">Borrar</button>
            <button id="btnCopy" type="button" class="btn btn-default">Duplicar</button>
            <button id="btnSave" type="button" class="btn btn-primary">Guardar</button>
          </div>

        <input id="Id"   name="Id"   type="hidden"/>
        <input id="Foto" name="Foto" type="hidden"/>

        <label id="lbId" class="right-top"></label>
        </form>
      </div>

    </div>


  </div>

</div>


@section Scripts{
  <script type="text/javascript">

    // Identificador del item con el que se llama la página
    var cocheId = @Model.Id;

    // Lista de todos los Coches que hay en la base de datos
    var Coches = [];     

    var Modelos = []; 
    var Motores = []; 
    var Marcas  = []; 

    var dataMotor;      // Id del motor que se estan mostrando los datos

    // Item actual que se esta modificando
    var nowCoche;       // Datos del item
    var nextID;         // Identificador el items mas cercano al seleccionado

    var Msg1;           // Maneja recuadro para mostrar errores en la parte de la lista
    var Msg2;           // Maneja recuadro para mostrar errores en la parte de los datos

    // Elementos donde estan los datos que se estan editando
    var _fotoSrc;
    var _fotoFile;

    var _Id;
    var _Marca;
    var _Modelo;
    var _Motor;
    var _Caja;
    var _Carroceria;
    var _Descripcion;

    // Valores de todos los campos al empezar la edicción
    var EditVals = { fotoSrc:"", fotoFile:"", Id:0, Marca:null, Modelo:null, Motor:null, Caja:"", Carroceria:"", Descripcion:"" };

    // Inicia manipuladores y variables, después de cargarse la página
    $( function()
      {
      // Actualiza ultimo valor de la busqueda por nombre
      $("#FindTxtCoche").val( localStorage["lastFindTxtCoche"] || "" );

      _fotoSrc  = $("#ImgFoto");
      _fotoFile = $("#FileFoto");

      _Id          = $("#Id");
      _Marca       = $("#Marca");
      _Modelo      = $("#Modelo");
      _Motor       = $("#Motor");
      _Caja        = $("#Caja");
      _Carroceria  = $("#Carroceria");
      _Descripcion = $("#Descripcion");
      _MotorInfo   = $("#MotorInfo");

      _fotoFile.change( OnSelectImgFile );
      _fotoSrc.keyup( CheckSave );

      _Marca.change( OnMarkChanged );
      _Modelo.change( OnModeloChanged );
      _Motor.change( OnMotorChanged );
      _Caja.keyup( CheckSave );
      _Carroceria.keyup( CheckSave );
      _Descripcion.keyup( CheckSave );

      $("#FindTxtCoche").keyup( FillCochesList );


      // Cuando se oprime el boton para guardar los cambios realizados
      $("#btnSave").on( 'click', GuardaCambios );   
      $("#btnCopy").on( 'click', DuplicarDatos );   
      $("#btnDel" ).on( 'click', DeleteCoche   );   

      $("#show-lst-panel" ).on( 'click', e =>{ e.stopPropagation(); AnimatePanel(); } );  
      $("#panelDatos"     ).on( 'click', e =>{ AnimatePanel(true);} );

      // Pone/quita el la ventana flotante (popup) con los filtros
      $(".filters-btn > button").on( 'click', e => { $(e.currentTarget.parentElement).addClass("open"); e.stopPropagation(); } );  
      $("body").on( 'click', CheckClickOnPopup );  

      // Cierra el popup por el boton que aparece a la derecha
      $(".filters-popup > .close").on( 'click', HidePopUp ); 

      Msg1 = new MsgAlert( "#ErrorMsgCoches" );
      Msg2 = new MsgAlert( "#UpdateErrorMsg" );

      RefreshCochesList( cocheId );

      RefreshMarcas();
      RefreshModelos();
      RefreshMotores();
      } );

    // Se llama cuando se selecciona un fichero de imagen para ponerlo como foto del recambio
    function OnSelectImgFile( e )
      {
	    var files = this.files;
  	  if( !files[0].type.match(/image/) ) 
        {
        alert("Debe seleccionar un fichero de imagen");
        return
        }

      var reader = new FileReader();
      reader.onload = function(e)
        { 
        _fotoSrc[0].src = reader.result;
        CheckSave();
        };
        
      reader.readAsDataURL( files[0] );
      }

    // Actualiza la lista de marcas desde el servidor
    function RefreshMarcas( id )
      {
      var Conn = new ServerConnection( "GET", (s)=>ConnError(s,Msg2) );

      Conn.Send( "/api/marcas", (datos) => 
        {
        Msg2.Hide();

        Marcas = datos;
        if( id != null ) EditVals.Marca = id;

        FillMarcas();
        }, "#panelDatos" );
      }

    // Actualiza la lista de modelos desde el servidor
    function RefreshModelos( id )
      {
      var Conn = new ServerConnection( "GET", (s)=>ConnError(s,Msg2) );

      Conn.Send( "/api/modelos", (datos) => 
        {
        Msg2.Hide();

        Modelos = datos;
        if( id != null ) EditVals.Modelo = id;

        FillModelos();
        }, "#panelDatos" );
      }

    // Actualiza la lista de motores desde el servidor
    function RefreshMotores( id )
      {
      var Conn = new ServerConnection( "GET", (s)=>ConnError(s,Msg2) );

      Conn.Send( "/api/motores", (datos) => 
        {
        Msg2.Hide();

        Motores = datos;
        if( id != null ) EditVals.Motor = id;

        FillMotores();
        }, "#panelDatos" );
      }

    // Actualiza la lista de coches con el contenido que hay en el servidor
    function RefreshCochesList( id )
      {
      ClearItemDatos();

      var Conn = new ServerConnection( "GET", (s)=>ConnError(s,Msg1) );

      Conn.Send( "/api/coches-desc", (datos) => 
        {
        Msg1.Hide();

        Coches = datos;

        FillCochesList();

        if( id>0 ) FindDatosForCoche( id );

        }, "#list-rec" );
      }

    // Llena la lista de Coches con los recambios encontrados
    function FillCochesList( )
      {
      $("#ItemsList").children().eq(0).empty();

      var txt = $("#FindTxtCoche").val();
      localStorage["lastFindTxtCoche"] = txt ;
      txt = txt.toLowerCase();

      for( var i = 0; i < Coches.length; ++i )
        {
        var coche = Coches[i]; 

        var cocheName = (coche.Marca +" "+ coche.Modelo +" motor "+ coche.Motor).toLowerCase();
        if( txt.length>0 && cocheName.indexOf(txt)<0 ) continue;

        var name = "<strong> "+ coche.Marca +" </strong><span> "+ coche.Modelo +"<strong> motor </strong>"+ coche.Motor + "</span>";

        var clss = coche.Id == EditVals.Id? " class='row-selected'" : "";
           
        var itemHml = "<tr data-id="+ coche.Id + clss + "><td>" + name + "</td></tr>";

        $("#ItemsList").append( itemHml );
        }

      $("#ItemsList tbody tr").on( 'click', (e)=>
        { 
        var row = $(e.currentTarget);
        var id  = row.data("id");

        FindDatosForCoche( id );
        } );

      ShowInfo();                    // Muestra/esconde información debajo de la tabla de items
      }

    // Llena el combo con los modelos de la marca seleccionada
    function FillMarcas()        
      {
      _Marca.children().remove();

      for( let marca of Marcas )
        _Marca.append( '<option value="'+ marca.Id +'">'+ marca.Nombre + '</option>' );

      _Marca.append( '<option value="-1">'+ "*** Nueva ***" + '</option>' );
      _Marca.val( EditVals.Marca );
      }

    // Llena el combo con los modelos de la marca seleccionada
    function FillModelos()        
      {
      _Modelo.children().remove();

      var marca = _Marca.val();
      if( marca==null ) return;

      for( let modelo of Modelos )
        {
        if( modelo.Marca == marca )
          _Modelo.append( '<option value="'+ modelo.Id +'">'+ modelo.Nombre + '</option>' );
        }    

      _Modelo.append( '<option value="-1">'+ "*** Nuevo ***" + '</option>' );
      _Modelo.val( EditVals.Modelo );
      }

    // Llena el combo con los motores que se pueden seleccionar
    function FillMotores()        
      {
      _Motor.children().remove();

      for( let motor of Motores )
        _Motor.append( '<option value="'+ motor.Id +'">'+ motor.Nombre + '</option>' );

      _Motor.append( '<option value="-1">'+ "*** Nuevo ***" + '</option>' );
      _Motor.val( EditVals.Motor );

      showMotorInfo( EditVals.Motor );
      }

    // Busca los datos del coche con identificador 'id'
    function FindDatosForCoche( id )
      {
      if( DescartCocheChanged()==false ) return;

      var Conn = new ServerConnection( "GET", (s)=>{ ShowPanelDatos(); ConnError(s,Msg2); } );
      Conn.Send( "/api/coche/" + id , (datos) => 
        {
        Msg2.Hide();

        nowCoche = datos;
        if( nowCoche.Id==0 )
          {
          Msg2.Show( "El coche con Id="+id+" no se encuentra en la base de datos", "danger" );
          ClearItemDatos();
          }
        else
          {
          nextID = SelectTableRow( id, "#ItemsList", "#list-rec" );
          SetItemDatos();
          }

        ShowPanelDatos();
        AnimatePanel(true);
        }, "#edit-rec" );
      }

    // Muestra el panel de edicción de los datos
    function ShowPanelDatos()        
      {
      $("#edit-datos").removeClass("hidden");
      }

    // Decide la informacion que se debe mostrar y cual no, de acuerdo al resultado de la busqueda
    function ShowInfo()        
      {
      var count = ItemsList.children[0].children.length;                    // Cantidad de Items que se muestran en la tabla

      ItemsList.style.display = count==0? "none" : "table";

      // Cartel con información
      if( count == 0 ) Msg1.Show( "No se encontro ningún coche que cumpla las condiciones dadas", "info" );
      else             Msg1.Hide();
      }

    // Se llama cada vez que se va a cambiar el recambio que se esta editando, si el cambio no es posible retorna false
    function DescartCocheChanged( )
      {
      if( DatosChanged() )
        if( confirm("Desea descartar los cambios realizados") )
          UpdateDatos();
        else return false;

      return true;
      }

    // Chequea si los datos cambia y pone el botón de Guardar o no
    function CheckSave()
      {
      var chgd = DatosChanged();

      btnSave.style.display = chgd? "block" : "none";
      btnCopy.style.display = chgd || !EditVals.Id? "none"  : "block";
      }

    // Se llama cuando cambia la marca del coche, llena los modelos y pone botón de guardar
    function OnMarkChanged()
      {
      if( _Marca.val() >= 0 ) { FillModelos(); CheckSave(); }
      else                    OnNewMarca();
      }

    // Se llama cuando cambia la modelo del coche, revisa si e una nuevo y manda a adicionar
    function OnModeloChanged()
      {
      if( _Modelo.val() >= 0 ) CheckSave();
      else                     OnNewModelo();
      }

    // Se llama cuando cambia la el motor, pone los datos del motor y el botón de guardar
    function OnMotorChanged()  
      {
      var motorId = _Motor.val();

      if( motorId >= 0 ) { CheckSave(); showMotorInfo(motorId); }
      else               OnNewMotor();
      }

    // Se llama cuando selecciona 'Marca nueva' en la lista de marcas
    function OnNewMarca()
      {
      ShowWidget("/admin/marca-edicion/0?Widget", (event, data )=>{          // Muestra un Widget con la pagina de modelos en modo add

             if( event=="close" ) _Marca.val( EditVals.Marca );               // Atiende los eventos desde Widget
        else if( event=="add"   ) RefreshMarcas( data );
        });
      }

    // Se llama cuando selecciona 'modelo nuevo' en la lista de modelos
    function OnNewModelo()
      {
      ShowWidget("/admin/modelo-edicion/0?Widget", (event, data )=>{          // Muestra un Widget con la pagina de modelos en modo add

             if( event=="close" ) _Modelo.val( EditVals.Modelo );             // Atiende los eventos desde Widget
        else if( event=="add"   ) RefreshModelos( data );
        });
      }

    // Se llama cuando selecciona 'motor nuevo' en la lista de motores
    function OnNewMotor()
      {
      ShowWidget("/admin/motor-edicion/0?Widget", (event, data )=>{          // Muestra un Widget con la pagina de modelos en modo add

             if( event=="close" ) _Motor.val( EditVals.Motor );             // Atiende los eventos desde Widget
        else if( event=="add"   ) RefreshMotores( data );
        });
      }

    // Se llama cuando cambia la el motor, pone los datos del motor y el botón de guardar
    function showMotorInfo( motorId )  
      {
      if( motorId == dataMotor ) return;

      var html = "";
      for( let motor of Motores )
        if( motor.Id == motorId ) 
          {
          _MotorInfo.html( "<b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Potencia:</b> " + motor.Potencia  +" HP<br/>"+
                           "<b>&nbsp;&nbsp;&nbsp;Capacidad:</b>                  " + motor.Capacidad +" Litros<br/>"+
                           "<b>Combustible:</b>                                  " + (motor.Combustible? "Petroleo" : "Gasolina") );

          dataMotor = motorId;
          return;
          }

      _MotorInfo.html( "" );
      dataMotor = -1;
      }

    // Borra todos los datos que hay sobre el recambio actual
    function ClearItemDatos()
      {
      EditVals ={ fotoSrc:"", fotoFile:"", Id:0, Marca:null, Modelo:null, Motor:null, Caja:"", Carroceria:"", Descripcion:"" };

      nowCoche = null;
      nextID = SelectTableRow( -1, "#ItemsList", "#list-rec" );

      UpdateDatos();
      }

    // Pone los datos del recambio actual
    function SetItemDatos( dupicate=false )        
      {
      var IdCoche = dupicate? 0 : nowCoche.Id;

      EditVals ={ fotoSrc     :nowCoche.Foto, 
                  fotoFile    :"", 
                  Id          :IdCoche, 
                  Marca       :nowCoche.Marca, 
                  Modelo      :nowCoche.Modelo, 
                  Motor       :nowCoche.Motor, 
                  Caja        :nowCoche.Caja? nowCoche.Caja : "", 
                  Carroceria  :nowCoche.Carroceria? nowCoche.Carroceria : "", 
                  Descripcion :nowCoche.Descripcion? nowCoche.Descripcion : "" };

      UpdateDatos();
      }

    // Pone los datos del recambio actual
    function UpdateDatos()        
      {
      _fotoSrc.attr("src", EditVals.fotoSrc );
      _fotoFile.val( EditVals.fotoFile );

      _Id.val( EditVals.Id );

      _Marca.val( EditVals.Marca );
      _Motor.val( EditVals.Motor );

      FillModelos();
      showMotorInfo( EditVals.Motor );

      _Caja.val( EditVals.Caja );
      _Carroceria.val( EditVals.Carroceria );
      _Descripcion.val( EditVals.Descripcion );

      $("#Foto").val( EditVals.fotoSrc );
      $("#lbId").text( EditVals.Id>0? "ID: " + EditVals.Id  : "" );

      btnSave.style.display = "none";

      var disp = (EditVals.Id == 0)? "none" : "block";

      btnCopy.style.display = disp;
      btnDel.style.display  = disp; 
      }

    // Verifica si se cambio algun dato desde el inicio de la edicción
    function DatosChanged()        
      {
      if( EditVals.fotoSrc     != _fotoSrc.attr("src") ) return true;
      if( EditVals.fotoFile    != _fotoFile.val()     ) return true;

      if( EditVals.Id          != _Id.val()           ) return true;
      if( EditVals.Marca       != _Marca.val()        ) return true;
      if( EditVals.Modelo      != _Modelo.val()       ) return true;
      if( EditVals.Motor       != _Motor.val()        ) return true;
      if( EditVals.Caja        != _Caja.val()         ) return true;
      if( EditVals.Carroceria  != _Carroceria.val()   ) return true;
      if( EditVals.Descripcion != _Descripcion.val()  ) return true;

      return false;
      }

    // Verifica los datos que se estan editando del recambio actual
    function ValidateDatos()        
      {
      if( ValidateSel( _Marca     , "la marca del coche."             ) &&
          ValidateSel( _Modelo    , "el modelo del coche."            ) &&
          ValidateStr( _Caja      , "El nombre de la caja"   , -1, 50 ) &&
          ValidateStr( _Carroceria, "El nombre la carroceria", -1, 50 ) &&
          ValidateSel( _Motor     , "el motor del coche."             ) )
        return true;

      return false;
      }

    // Determina cual es el modo de ediccion de los datos a utilizar
    function newCoche()
      {
      if( DescartCocheChanged() )
        {
        ShowPanelDatos();
        ClearItemDatos(); 
        }
      }

    // Duplica los datos de la marca actual, para crear una similar
    function DuplicarDatos()
      {
      if( DescartCocheChanged() )
        SetItemDatos( true );
      }

    // Se llama para guardar los camnios realizados
    function GuardaCambios()
      {
      if( !ValidateDatos() ) return;
      var url = +_Id.val()>0? "/api/modify-coche" : "/api/add-coche";

      var form = document.forms.namedItem("datos");

      var srv = new ServerConnection( "POST", (s)=>ConnError(s, Msg2) );
      srv.SendForm( form, url, (respJson) => 
        {
        RefreshCochesList( respJson.Id );
        });
      }

    // Borra la marca actual de la base de datos
    function DeleteCoche()
      {
      var name = nowCoche.MarcaNavigation.Nombre + " " + nowCoche.ModeloNavigation.Nombre;
      if( !confirm("Esta seguro que desea borrar el coche:\n'" + name + "'" ) )
        return;

      var form = document.forms.namedItem("datos");

      var srv = new ServerConnection( "DELETE", (s)=>ConnError(s, Msg2) );

      srv.SendForm( form, "/api/delete-coche", (respJson) => 
        {
        RefreshCochesList( nextID );
        });
      }


  </script>
}