@{
  ViewData["Title"] = "Página principal para la administración del sitio";
}

<div class="main-frame">
  <h1>Opciones de administración para el sitio web</h1>
  <br />
  <ul>
    <li><p><a href="/admin/api-doc" >Documentación del API</a></p></li>
    <li><p><a href="/admin/recambio-coche/" >Asignación de uso de recambio a coches</a></p></li>
  </ul>

<br />
<br />
<br />
<p><strong>Nota:</strong> Voy a ir adicionado opciones aqui poco a poco</p>

</div>



@section Scripts{
<script type="text/javascript">

</script>
}
