@model Piezas2.Models.BaseModel
@{
  ViewData["Title"] = "Página principal para la administración del sitio";
}

<div class="main-frame">
  <h1>Opciones de administración para el sitio web</h1>
  <br />
  <h3>Coches</h3>
  <ul>
    <li><p><a href="/admin/coche-edicion/"     >Edición de coches                       </a></p></li>
    <li><p><a href="/admin/marca-edicion/"     >Edición de marcas de coche              </a></p></li>
    <li><p><a href="/admin/modelo-edicion/"    >Edición de modelos de coche             </a></p></li>
    <li><p><a href="/admin/motor-edicion/"     >Edición de motores de coche             </a></p></li>
  </ul>
  <h3>Recambios</h3>
  <ul>
    <li><p><a href="/admin/recambio-edicion/"  >Edición de recambios                    </a></p></li>
    <li><p><a href="/admin/categoria-edicion/" >Edición de categorias de recambios      </a></p></li>
    <li><p><a href="/admin/fabricante-edicion/">Edición de fabricantes de recambios     </a></p></li>
  </ul>
  <h3>Otras</h3>
  <ul>
    <li><p><a href="/admin/recambio-coche/"    >Asignar coches donde se usa un recambio </a></p></li>
    <li><p><a href="/admin/api-doc"            >Documentación del API                   </a></p></li>
  </ul>

  <br/><br/>
  <div class="btn-group">
    <button id="btnCopy" type="button" class="btn btn-default" onclick='location="/"'>Retornar la sitio principal</button>
  </div>

  <br/><br/>
  <p><strong>Nota:</strong> Voy a ir adicionado opciones aqui poco a poco</p>

</div>



@section Scripts{
<script type="text/javascript">

</script>
}
