<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - Piezas2</title>
  <link href="~/css/bootstrap.css" rel="stylesheet" />
  <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
  <header>
  </header>
  @RenderBody()

  <footer class="border-top footer text-muted">
    <div class="footer-row">
      <div><a class="footer1" title="Mapa del sitio web de venta de recambios de coche para autos del Grupo VAG" href="mapa-del-sitio.aspx">Mapa del sitio</a></div>
      <div><span class="separator footer1">|</span></div>
      <div><a class="footer1" title="Información de Contacto" href="informacion-de-contacto.aspx">Contacto</a></div>
      <div><span class="separator footer1">|</span></div>
      <div><a class="footer1" title="Información sobre nuestra empresa" href="acerca-de.aspx">Sobre nuestro sitio</a></div>
    </div>

    <div class="footer-row">
      <div> <a title="Follow us on Google+" class="footer2" rel="nofollow" href="https://plus.google.com/+pamicarro">Google+</a></div>
      <div><span class="separator">|</span></div>
      <div> <a title="Follow us on Facebook" class="footer2" rel="nofollow" href="https://www.facebook.com/pamicarro/">Facebook</a></div>
      <div><span class="separator">|</span></div>
      <div> <a title="Follow us on Twitter" class="footer2" rel="nofollow" href="https://twitter.com/Pamicarro">Twitter</a></div>
    </div>

    <div class="copyright">
      <span>© 2021 Pa'mi carro.</span>
    </div>
  </footer>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/js/bootstrap.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>

  @RenderSection( "Scripts", required: false )

</body>
</html >
