@model ErrorViewModel
@{
  ViewData["Title"] = "Reporte de Error";
}

<div class="main-frame">

  <h3 class="text-danger" style="text-align:center"> Ocurrio un error en el procesamiento de la solicitud. </h3>

  <p>Código del error: <strong>@Model.ErrorCode</strong> </p>
  <p>Descripción del error: <strong>@Model.ErrorMsg</strong> </p>

  <p>IP Local: <strong>@Model.LocalIp</strong> </p>
  <p>IP Remoto: <strong>@Model.RemoteIp</strong> </p>

</div>
