@model ErrorViewModel
@{
  ViewData["Title"] = "Acerca del sitio Web";
}

<div class="main-frame">

  <h1 style="text-align:center"> Acerca del sitio Web. </h1>

  Contenido pendiente de diseño.

</div>
