@model ErrorViewModel
@{
  ViewData["Title"] = "Informacion de contacto";
}

<div class="main-frame">

  <h1 style="text-align:center"> Informacion de contacto. </h1>

  Contenido pendiente de diseño.

</div>
