@model BaseModel
@{
  ViewData["Title"] = "Ventas pendientes";
}

<div class="container main-frame">

  <h1 style="text-align:center"> Lista de ventas que estan en el carrito. </h1>

  poner todas la compras aqui

</div>
