/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

.main-frame {
  max-width: 1080px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-top: 8px;
  border: 2px solid #aaa;
  border-radius: 10px;
  box-shadow: 5px 5px 30px #808080;
}

#ItemsList thead tr th {                        /* Celdas del encabezamiento de la tabla de items*/
  background-color: #eee;
  padding: 4px 6px;
  font-size: 13px;
  line-height: 14px;
  white-space: nowrap;
}

#CochesList tbody tr td,
#ItemsList tbody tr td {                        /* Celdas del cuerpo de la tabla de items*/
  padding: 4px 6px;
  font-size: 12px;
  white-space: nowrap;
}

.tab-frame {                                    /* Define un frame asociado con el contenido de un tab*/
  padding: 8px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  border-radius: 0px 6px 6px 6px;
  margin-top: -1px;
}

.nav-tabs > li > a {                            /* Controla la apariencia del los items de los tab*/
  padding-bottom: 5px;
  padding-top: 5px;
  border-radius: 6px 6px 0 0;
}

.inactive {                                     /* Pone un item un dropdown-menu inactivo*/
  padding: 3px 10px;
  font-weight: bold;
}

.btn.btn-default {                              /* Hace que todos los combos tengan el mismo tamaño*/
  width: 160px;
  padding-left: 5px;
  text-align: left;
  padding-right: 5px;
}

.btn-group .dropdown-menu li.tenue a,
.btn-group .btn.btn-default.tenue {             /* Pone tenue el item del menú*/
  color: gray;
}

.btn-group { margin-bottom: 8px; }              /* Hace que los combos se separen verticalmente*/

#FindRecambio button {                          /* Separa el boton para buscar recambios*/
  _width: 70px;
  margin-left:50px;
  }

.table-responsive {                             /* Deja un poco de margen al final de la tabla para el scroll*/
  padding-bottom: 15px;
}     

.dropdown-menu {                                /* Hace que cuando sean muchos items en la lista permita scrollear*/
  max-height: 300px;
  overflow: auto;
}

#FindMore {                                     /* Centra el boton de 'Buscar mas' en la parte de abajo */
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

#MsgNoFound {                                   /* Desplaza hacia abajo el mensaje de no encontrado */
  margin-top: 10px;
}

#nowRec {                                       /* Posiciona el número de records cargados */
  position: absolute;
  right: 0;
}

#ItemsList thead tr th.ColOrder {               /* Destaca la columna por donde se ordens*/
  background-color: lightgray;
}

#ItemsList thead tr .desc,                      /* Para las columnas oredenadas se cambia el color del fondo y la letra*/
#ItemsList thead tr .asc {
  background-color: #ddd !important;
  color: #337ab7;
}

#ItemsList thead tr .desc::after {              /* Inserta una flecha para las columnas ordenadas*/
  content: " ⬆";
}

#ItemsList thead tr .asc::after {               /* Inserta una flecha para las columnas ordenadas*/
  content: " ⬇";
}

#ItemsList thead tr th:hover {                  /* Resalta cuando se pasa por arriba del encabezamiento de las columnas */
  background-color: #C0F1F9;
  cursor: pointer;
}

.btn-close-msg {                                /* Boton los mensajes de alertas */
  float: right;
  width: 20px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  padding-bottom: 2px;
}

.coche-name:hover,
#CochesList > tbody > tr:hover,
#ItemsList > tbody > tr:hover {                 /* Pone cursor cuando se pasa por arriba de las filas*/
  background-color: #f0f0f0;
  cursor: pointer;
}

.coche-list {                                   /* Pone los coches en una lista fluida */
  display: flex;
  flex-wrap: wrap;
}

.coche-name {                                   /* Aspecto como se muestra un nombre de un coche */
  border-radius: 8px;
  margin: 3px;
  padding: 1px 10px;
  border: gray 1px solid;
}

.coche-name a,
.coche-name a:hover,
.coche-name a:focus {                           /* Controla la rayita y el color que sale en los links */
  text-decoration: none;
  color: darkslategray;
}

.columns-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 15px;
  grid-column-gap: 10px;
}

#colItems, #colCoches {
  position: relative;
  height: 650px;
  background-color: #f4f4f4;
  border: #999 1px solid;
}

#colItems {
  overflow: auto;
}

#CochesHeard {
  min-height: 50px;
  padding: 12px 100px 8px 8px;
}

#CochesHeard h4{
  margin: 0px;
}

#Update {
  position: absolute;
  right: 10px;
  top: 10px;
}

#CochesBody {
  overflow: auto;
  height: 597px;
}

#CochesList tbody tr td input {
  vertical-align: text-bottom;
}

.filters-btn {
  margin-bottom: -3px;
}

.filters-btn > .btn:first-child {
  background-color: transparent;
 /* margin-right: -12px;*/
  padding:0px;
}

.filters-popup {
  padding: 10px;
  width: 450px;
  margin: -5px 10px;
  overflow: inherit;
}

.filters-popup > .btn-group {
    display: block;
}

#FindForName > input {
  width: 185px;
  padding-left: 5px;
  height: 32px;
}

.filters-popup #FindRecambio button {
  width: 70px;
  margin: auto;
  display: block;
  float: none;
}

#CochesList label {
  margin-bottom: 2px;
  font-weight: normal;
}

.flex-grid {
  display:flex; 
  flex-direction:row; 
  flex-wrap:wrap;
}

.flex-grid .item {
  margin-left: 10px !important;
 }

.row-selected {
  background-color:lightskyblue !important;
}


#FindCoche {
  width: 185px;
  margin-left: 10px;
}

#FindCoche button {
  float: none;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
